.container .box-card {
  position: relative;
  box-shadow: rgba(0 0 0 0.17) 13px 15px 13px 2px;
}
.container .box-card >>> .el-form .el-input .el-input__inner {
  width: 30%;
}
.container .box-card .isSubmit {
  width: 150px;
  margin: 60px auto 0;
}
.container .box-card .account_title {
  display: flex;
  padding-right: 50px;
}
.container .box-card .account_title .account_title_text {
  flex: 1;
  line-height: 42px;
}
.container .box-card .account_title .el-link {
  width: 100px;
}

.email_tip_btn {
  margin-left: 15px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 4px;
}